.rd-comment-body, .rd-comment-vote {
  background: white;
  border-radius: 20px;
  padding: 10px;  
}
.rd-comment-vote {
  position: absolute;
  bottom: 50px;
  border: 0.5px solid #DEDEDE;
  padding: 5px;
}
.rd-comment-separator-vote {
  padding-left: 5px
}
.rd-comment-aling-item, .rd-comment-vote {
  margin-left: 93px;
}
.rd-comment-number-vote {
  margin-left: 310px;
}
.rd-comment-list {
  list-style-type: none;
}
.rd-comment-icon-author {
  margin-top: 12px;
}