/* main page */

.list-category-post {
  border-bottom: 1px solid #dedede;
}
.post {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  border-left: 6px solid #61DAFB;
  background: white;
  margin-top: 10px;
}
.list-separator-post {
  padding: 10px;
  border-top: 1px solid #dedede;
  
}
.button-post-delete {
  border: 1px solid red;
  border-radius: 5px;
  background: #f7f5f5;
}
.button-post-edit {
  border: 1px solid #02e9fa;
  border-radius: 5px;
  background: #f7f5f5;
}
.list-element-post {
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
}
.post-pointer {
  cursor: pointer; 
}

/* upvote and downvote */
.thumb-vote {
  background-color:rgb(0, 174, 255);
  color: white;
  border-radius: 180px;
}
.thumb:hover {
  background-color:rgb(0, 174, 255);
  color: white;
  border-radius: 180px;
}
.thumb-negative {
  color: white;
  background: red;
  border-radius: 180px;
}

/* comment number and vote */
.comment-number {
  color: #b9b9b9;
  padding-right: 5px;
}
.vote-number {
  padding-right: 5px;
}
.trash {
  color: #b9b9b9;
}
.trash-hover :hover {
  color: rgb(240, 46, 46);
}

/* edit comment and post */
/* .edit-hover :hover {
  color: rgb(6, 127, 240);
} */

/* comment */
.user-comment {
  background-image: url('./Icons/person.svg');
  background-color: #02e9fa;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  float: left;
}

.p-comment {
  padding-left: 10px;
}
/* List categories */
.category-margin {
  margin-top: 10px;
}
.top-card-category {
  height: 5px;
}
.btn-readable {
  
  border-radius: 60px;
  padding: 5px 30px;
}
/* End List categories */
/* List posts */
.post-margin {
  margin-bottom: 10px;
}

.add-post {  
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.add-post div {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #02B3E4;  
}
a:link {
  text-decoration: none;
}
.menu-post {
  position: fixed;
  right: 25px;
  bottom: 80px;
  display: block;
  background: white;
  border-radius: 10px;
  border: 1px solid #DFDFDF;
  padding: 5px;
}
ul.list-menu {
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;  
}
ul.list-menu :hover {
  background-color: #02B3E4;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.icon-menu {
  position: 'absolute';
  margin-top: 15px;
  margin-left: 15px;
  color: white;
}
.text-menu {
  margin-left: 5px;  
}
/* End List posts */
/* Nav */
.nav-color {
  background-color: #02B3E4
}
/* End Nav */
.rd-button {
  background: #02B3E4;
  text-align: center;
  color: white;
  padding: 5px 40px;
  border-radius: 60px;
}
.rd-modal {
  width: 500px;
  left: 200%;
  
}
/**
* This code was taken on this web site
* https://www.w3schools.com/css/css3_shadows.asp
*/
.rd-box-category {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}




