.rd-close-create-post {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./Icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0px;
}
.list-category-post {
  border-bottom: 1px solid #dedede;
}

.rd-list-separator-post {
  padding: 10px;
  border-top: 1px solid #dedede;
  
}
.button-post-delete {
  border: 1px solid red;
  border-radius: 5px;
  background: #f7f5f5;
}
.button-post-edit {
  border: 1px solid #02e9fa;
  border-radius: 5px;
  background: #f7f5f5;
}
.rd-list-element-post {
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
}
.rd-post-pointer {
  cursor: pointer; 
}
.thumb-vote {
  background-color:rgb(0, 174, 255);
  color: white;
  border-radius: 180px;
}
.rd-thumb-up:hover{
  background-color:rgb(0, 174, 255);
  color: white;
  border-radius: 180px;
}
.rd-thumb-down:hover{
  background-color: red;
  color: white;
  border-radius: 180px;
}
.thumb-negative {
  color: white;
  background: red;
  border-radius: 180px;
}
.comment-number {
  color: #b9b9b9;
  padding-right: 5px;
}
.vote-number {
  padding-right: 5px;
}
.rd-trash, .rd-edit, .rd-thumb-up, .rd-thumb-down {
  color: #b9b9b9;
}
.rd-edit:hover {
  color: #02B3E4;
}
.rd-trash:hover {
  color: rgb(240, 46, 46);
}
.user-comment {
  background-image: url('./Icons/person.svg');
  background-color: #02e9fa;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  float: left;
}
.category-margin {
  margin-top: 10px;
}
.rd-top-card-category, .rd-category-by-post {
  height: 5px;
}
.btn-readable {
  border-radius: 60px;
  padding: 5px 30px;
}
.post-margin {
  margin-bottom: 10px;
}
.add-post {  
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.add-post div {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #02B3E4;  
}
a:link {
  text-decoration: none;
}
.menu-post {
  position: fixed;
  right: 25px;
  bottom: 80px;
  display: block;
  background: white;
  border-radius: 10px;
  border: 1px solid #DFDFDF;
  padding: 5px;
}
ul.list-menu {
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;  
}
ul.list-menu :hover {
  background-color: #02B3E4;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.icon-menu {
  position: 'absolute';
  margin-top: 15px;
  margin-left: 15px;
  color: white;
}
.rd-text-menu {
  margin-left: 5px;  
}
.rd-button {
  background: #02B3E4;
  text-align: center;
  color: white;
  padding: 5px 40px;
  border-radius: 60px;
}
/**
* This code was taken on this web site
* https://www.w3schools.com/css/css3_shadows.asp
*/
.rd-box-category {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}




